<!DOCTYPE html>
<html>
<head>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>

<h1 class="text-center"> Nth Fibonacci Number </h1>
  <div class="col-lg-12">
      <style>
        .form-signin {
          max-width: 550px;
          padding: 15px;
          margin: 0 auto;
        }    
      </style>

 
      <div class="container text-center">
          <form class="form-signin" id="input_N" method="post" action="/fibonacciCalculator/calc/">           
        
            {% csrf_token %}

            <br>
            <input type="text" name="number" class="form-control" placeholder="Give Number greater than 0 e.g. 6 " value="" required autofocus>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Get Number</button>
          </form>
      </div>
      <div   class="table-responsive ">
          <table class="table table-bordered table-hover table-striped tablesorter">
              <thead>
              <tr>
		<th class="header"> Position <i class="icon-sort"></i></th>
                <th class="header"> Fibonacci number <i class="icon-sort"></i></th>
                <th class="header"> Time taken <i class="icon-sort"></i></th>
		<th class="header"> Date <i class="icon-sort"></i></th>
		<th class="header"> Method <i class="icon-sort"></i></th>
                
              </tr>
          </thead>
          <tbody>
          
          
          {% for key in data %}
              <tr>
		  <td>{{key.postion}}</td>		  
                  <td>{{ key.number }}</td>
                  <td>{{ key.time }}</td> 
		  <td>{{ key.date }}</td> 
		  <td>{{key.method}}</td>               
              </tr>
          {% endfor %}
          
          
          </tbody>
          </table>
      </div>
    </div>
</body>
</html>
